* {
			box-sizing: border-box;
		}

	@media (min-width: 320px) and (max-width: 480px)
	{
		.A1 {
			font-size: 15vw;
		    letter-spacing: -0.075vw;
		    margin-left: 7.32vw;
		    margin-top: 1.83vw; 
		    border:0.75vw solid blue;
		    max-width:100vw;
		    color: darkblue;
		    width: 83vw;
		    height: auto;
		    display: inline-block;
		    position: relative;
		    top: -3vw;
		}
		.A2 {
			position: relative;  
			width: 100%; 


		}
		.A2 li {
			margin-right: 4%;
			font-family: 'Macondo Swash Caps', cursive;
			list-style-type: none;
			font-size: 5vw;

		}


		#MenuHome {
			position: relative;
			bottom: 10vw;
			height: 22vw;
			display: inline-block;
			width: 29vw;
			margin-left: 6vw;
			background-image:url('Home.png');
			background-repeat: no-repeat;
			background-size: 27vw 21vw;
		}

		#MenuContacts{
			display: inline-block;
			 font-family:'Macondo Swash Caps', cursive;
			 font-size: 5vw;
			 position: relative;
			 bottom:18vw;
			 margin-left: 4.5vw;
		}


		#bgimg1 {
			background-image: url('ArrowDown.png');
			background-repeat: no-repeat;
			background-size: 3.5vw 3.5vw;
			background-position: 25.2vw 1.25vw;
			width: 29.7vw;
			position: relative;
			z-index: 2;
			text-align: left;
			cursor: pointer;
			display: inline-block;
			font-family:'Macondo Swash Caps', cursive;
			font-size: 5vw;
		    position: relative;
			bottom:18vw;
			margin-left: 4.5vw;
		}

		#tartalom { 
			width: 29.8vw;
			height: 23.5vw;
			line-height: 4vw;
			position: absolute;
			left: 67.2vw;
			top: 38.56vw;
			z-index: 1;
			display: none;
			background-color: black;
			color: white;
		}

		#tartalom li {
			position: relative;
			top: 3vw;
			text-align: left;
			right: 12vw;
		}
	}

	@media (min-width: 481px) and (max-width: 767px)
	{
		.A1 {
			font-size: 5vw;
		    letter-spacing: -0.075vw;
		    margin-left: 7.32vw;
		    margin-top: 1.83vw; 
		    border:0.36vw solid blue;
		    max-width: 27.8vw;
		    color: darkblue;
		    width: 29.3vw;
		    height: auto;
		    display: inline-block;
		    position: relative;
		    top: -4.83vw;
		}
		.A2 li {
			float: left;
			margin-right: 3.66vw;
			font-family: 'Macondo Swash Caps', cursive;
			list-style-type: none;
			font-size: 3vw;

		}


		#MenuHome {
			height: 11vw;
			display: inline-block;
			width: 14.64vw;
			margin-left: 3.66vw;
			background-image:url('Home.png');
			background-repeat: no-repeat;
			background-size: 14.64vw 11vw;
		}

		#MenuContacts{
			display: inline-block;
			 font-family:'Macondo Swash Caps', cursive;
			 font-size: 3vw;
			 position: relative;
			 top:-5.86vw;
			 margin-left: 5.12vw;
		}


		#bgimg1 {
			background-image: url('ArrowDown.png');
			background-repeat: no-repeat;
			background-size: 1.83vw 1.83vw;
			background-position: 15.5vw 1vw;
			width: 18.3vw;
			position: relative;
			z-index: 2;
			cursor: pointer;
			display: inline-block;
			font-family:'Macondo Swash Caps', cursive;font-size: 3vw;
		    position: relative;
			top:-5.86vw;
			margin-left: 5.12vw;
		}

		#tartalom { 
			width: 18.3vw;
			height: 18.7vw;
			line-height: 2.92vw;
			position: absolute;
			left: 78.6vw;
			top: 4vw;
			z-index: 1;
			display: none;
			background-color: black;
			color: white;
		}

		#tartalom li {
			position: relative;
			top: 2vw;
			right: 8vw;
		}

	}



	@media (min-width: 768px) and (max-width: 1024px)
	{
		.A1 {
			font-size: 5vw;
		    letter-spacing: -0.075vw;
		    margin-left: 7.32vw;
		    margin-top: 1.83vw; 
		    border:0.36vw solid blue;
		    max-width: 27.8vw;
		    color: darkblue;
		    width: 29.3vw;
		    height: auto;
		    display: inline-block;
		    position: relative;
		    top: -4.83vw;
		}
		.A2 li {
			float: left;
			margin-right: 3.66vw;
			font-family: 'Macondo Swash Caps', cursive;
			list-style-type: none;
			font-size: 3vw;

		}


		#MenuHome {
			height: 11vw;
			display: inline-block;
			width: 14.64vw;
			margin-left: 3.66vw;
			background-image:url('Home.png');
			background-repeat: no-repeat;
			background-size: 14.64vw 11vw;
		}

		#MenuContacts{
			display: inline-block;
			 font-family:'Macondo Swash Caps', cursive;
			 font-size: 3vw;
			 position: relative;
			 top:-5.86vw;
			 margin-left: 5.12vw;
		}


		#bgimg1 {
			background-image: url('ArrowDown.png');
			background-repeat: no-repeat;
			background-size: 1.83vw 1.83vw;
			background-position: 15.5vw 1vw;
			width: 18.3vw;
			position: relative;
			z-index: 2;
			cursor: pointer;
			display: inline-block;
			font-family:'Macondo Swash Caps', cursive;font-size: 3vw;
		    position: relative;
			top:-5.86vw;
			margin-left: 5.12vw;
		}

		#tartalom { 
			width: 18.3vw;
			height: 18.7vw;
			line-height: 2.92vw;
			position: absolute;
			left: 77.1vw;
			top: 4vw;
			z-index: 1;
			display: none;
			background-color: black;
			color: white;
		}

		#tartalom li {
			position: relative;
			top: 2vw;
			right: 5vw;
		}

	}

		@media (min-width: 1025px) and (max-width: 1280px)
	{
		.A1 {
			font-size: 5vw;
		    letter-spacing: -0.075vw;
		    margin-left: 7.32vw;
		    margin-top: 1.83vw; 
		    border:0.36vw solid blue;
		    max-width: 27.8vw;
		    color: darkblue;
		    width: 29.3vw;
		    height: auto;
		    display: inline-block;
		    position: relative;
		    top: -4.83vw;
		}
		.A2 li {
			float: left;
			margin-right: 3.66vw;
			font-family: 'Macondo Swash Caps', cursive;
			list-style-type: none;
			font-size: 3vw;

		}


		#MenuHome {
			height: 11vw;
			display: inline-block;
			width: 14.64vw;
			margin-left: 3.66vw;
			background-image:url('Home.png');
			background-repeat: no-repeat;
			background-size: 14.64vw 11vw;
		}

		#MenuContacts{
			display: inline-block;
			 font-family:'Macondo Swash Caps', cursive;
			 font-size: 3vw;
			 position: relative;
			 top:-5.86vw;
			 margin-left: 5.12vw;
		}


		#bgimg1 {
			background-image: url('ArrowDown.png');
			background-repeat: no-repeat;
			background-size: 1.83vw 1.83vw;
			background-position: 15.5vw 1vw;
			width: 18.3vw;
			position: relative;
			z-index: 2;
			cursor: pointer;
			display: inline-block;
			font-family:'Macondo Swash Caps', cursive;font-size: 3vw;
		    position: relative;
			top:-5.86vw;
			margin-left: 5.12vw;
		}

		#tartalom { 
			width: 18.3vw;
			height: 18.7vw;
			line-height: 2.92vw;
			position: absolute;
			left: 76.4vw;
			top: 4vw;
			z-index: 1;
			display: none;
			background-color: black;
			color: white;
		}

		#tartalom li {
			position: relative;
			top: 2vw;
			right: 3.5vw;
		}

	}


		@media screen and (min-width: 1281px)
		{
		.A1 {
			font-size: 5vw;
		    letter-spacing: -0.075vw;
		    margin-left: 7.32vw;
		    margin-top: 1.83vw; 
		    border:0.36vw solid blue;
		    max-width: 27.8vw;
		    color: darkblue;
		    width: 29.3vw;
		    height: auto;
		    display: inline-block;
		    position: relative;
		    top: -4.83vw;
		}
		.A2 li {
			float: left;
			margin-right: 3.66vw;
			font-family: 'Macondo Swash Caps', cursive;
			list-style-type: none;
			font-size: 3vw;

		}


		#MenuHome {
			height: 11vw;
			display: inline-block;
			width: 14.64vw;
			margin-left: 3.66vw;
			background-image:url('Home.png');
			background-repeat: no-repeat;
			background-size: 14.64vw 11vw;
		}

		#MenuContacts{
			display: inline-block;
			 font-family:'Macondo Swash Caps', cursive;
			 font-size: 3vw;
			 position: relative;
			 top:-5.86vw;
			 margin-left: 5.12vw;
		}


		#bgimg1 {
			background-image: url('ArrowDown.png');
			background-repeat: no-repeat;
			background-size: 1.83vw 1.83vw;
			background-position: 15.37vw 0.73vw;
			width: 18.3vw;
			position: relative;
			z-index: 2;
			cursor: pointer;
			display: inline-block;
			font-family:'Macondo Swash Caps', cursive;font-size: 3vw;
		    position: relative;
			top:-5.86vw;
			margin-left: 5.12vw;
		}

		#tartalom { 
			width: 18.3vw;
			height: 18.7vw;
			line-height: 2.92vw;
			position: absolute;
			left: 76vw;
			top: 2.56vw;
			z-index: 1;
			display: none;
			background-color: black;
			color: white;
		}

		#tartalom li {
			position: relative;
			top: 3.66vw;
			right: 2.2vw;
		}



}
		/*Universal Css below!*/
		a {
			text-decoration: none;
			
		}

		a:visited {
			color: black;
		}
		a:hover {
			color: white;

		}
		.aback {
			color: black;
			font-weight: bold;
		}
		.aback:hover {
			color: black;
		}
		/*Universal Css above!*/