
#MainDiv{
	width: 100%;
	min-height: 120vw;
}


#IntroHeader{
	text-align: center;
	font-size: 5vw;
	text-shadow: 0.3vw 0vw yellow, 0vw 0.3vw yellow, -0.3vw 0vw yellow, 0vw -0.3vw yellow;
	font-family: 'Bowlby One SC', cursive;
}

.IntroParagraph{
	font-size: 3.5vw;
	text-shadow: 0.2vw 0vw white, 0vw 0.2vw white, -0.2vw 0vw white, 0vw -0.2vw white;
	font-family: 'Dancing Script', cursive;
}

#NonWarriorTextParagraph{
	font-size: 3.5vw;
	text-shadow: 0.2vw 0vw white, 0vw 0.2vw white, -0.2vw 0vw white, 0vw -0.2vw white;
	font-family: 'Dancing Script', cursive;
	display: inline-block;
	margin-left: 5vw;
}

#WarriorTextParagraph{
	font-size: 3.5vw;
	text-shadow: 0.2vw 0vw white, 0vw 0.2vw white, -0.2vw 0vw white, 0vw -0.2vw white;
	font-family: 'Dancing Script', cursive;
	display: inline-block;
	margin-left: 10vw;
}

#NonWarriorDrawing{
	width: 15vw;
	height: 15vw;
	display: inline-block;
	float: bottom;
	border:1vw solid red;
	margin-left: 6vw;
	border-radius: 5px;
}

#WarriorDrawing{
	width: 15vw;
	height: 15vw;
	display: inline-block;
	float: bottom;
	border:1vw solid green;
	margin-left: 10vw;
	border-radius: 5px;
}


#ArrowLeft{
	width: 13vw;
	height: 13vw;
	display: inline-block;
	background-image: url('SettingsGame/ArrowLeft.png');
	background-size: 13vw 13vw;
	cursor: pointer;
}

.CharacterListContainer{
	display: inline-block;
	width: 13vw;
	height: 13vw;
	border: 0.3vw ridge red;
	background-color: white;
	box-sizing: border-box;

}

.CharacterElements{
	width: 100%;
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	background-size: 13vw 13vw;
	background-repeat: no-repeat;
	background-position: center;
}

#ArrowRight{
	width: 13vw;
	height: 13vw;
	display: inline-block;
	background-image: url('SettingsGame/ArrowRight.png');
	background-size: 13vw 13vw;
	cursor: pointer;
}


/*Osszuk ket reszre! Ket div egymas mellett! egyik 15vw a masik 25vw*/

#CharacterInformationDiv1{
	width: 30%;
	min-height: 15vw;
	margin-left: 0.5vw;
	display: none;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 0.5vw;
	background-color: transparent;
	box-sizing: border-box;
	box-shadow: 0.3vw 0.3vw 0.45vw black;
	border: 0.25vw ridge brown;
	border-radius: 0.3vw;


}

#CharacterImage1{
	grid-area: 1/1/5/5;
	background-color: yellow;
}

#DivInfoDamage1{
	grid-area: 2/6/3/9;
	font-size: 2.5vw;
	text-align: center;
	font-weight: bold;
	text-shadow: 0.2vw 0vw 0.3vw red, 0vw 0.2vw 0.3vw red, -0.2vw 0vw 0.3vw red, 0vw -0.2vw 0.3vw red;
}

#DivInfoDefense1{
	grid-area: 3/6/4/9;
	font-size: 2.5vw;
	text-align: center;
	font-weight: bold;
	text-shadow: 0.2vw 0vw 0.3vw white, 0vw 0.2vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
}

#DivInfoHealth1{
	grid-area: 4/6/4/9;
	font-size: 2.5vw;
	text-align: center;
	font-weight: bold;
	text-shadow: 0.2vw 0vw 0.3vw green, 0vw 0.2vw 0.3vw green, -0.2vw 0vw 0.3vw green, 0vw -0.2vw 0.3vw green;
}

#CharacterInformationDiv2{
	width: 30%;
	min-height: 15vw;
	margin-left: 38vw;
	display: none;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 0.5vw;
	background-color: transparent;
	box-sizing: border-box;
	box-shadow: 0.3vw 0.3vw 0.45vw black;
	border: 0.25vw ridge brown;
	border-radius: 0.3vw;
}

#CharacterImage2{
	grid-area: 1/1/5/5;
	background-color: yellow;
}


#DivInfoDamage2{
	grid-area: 2/6/3/9;
	font-size: 2.5vw;
	text-align: center;
	font-weight: bold;
	text-shadow: 0.2vw 0vw 0.3vw red, 0vw 0.2vw 0.3vw red, -0.2vw 0vw 0.3vw red, 0vw -0.2vw 0.3vw red;
}

#DivInfoDefense2{
	grid-area: 3/6/4/9;
	font-size: 2.5vw;
	text-align: center;
	font-weight: bold;
	text-shadow: 0.2vw 0vw 0.3vw white, 0vw 0.2vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
}

#DivInfoHealth2{
	grid-area: 4/6/4/9;
	font-size: 2.5vw;
	text-align: center;
	font-weight: bold;
	text-shadow: 0.2vw 0vw 0.3vw green, 0vw 0.2vw 0.3vw green, -0.2vw 0vw 0.3vw green, 0vw -0.2vw 0.3vw green;
}

.InformationDiv{
	font-size: 2.5vw;
	grid-area: 1/5/2/9;
	font-family: 'Big Shoulders Text', cursive;
	font-weight: bold;
	text-align: center;
	text-shadow: 0.2vw 0vw 0.3vw white, 0vw 0.2vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;

}

.DamageIcon{
	grid-area: 2/5/3/6;
	background-image: url('SettingsGame/DamagePic.png');
	background-size: 100% 100%;
}

.DefenseIcon{
	grid-area: 3/5/4/6;
	background-image: url('SettingsGame/DefensePic.png');
	background-size: 100% 100%;
}

.HealthIcon{
	grid-area: 4/5/4/6;
	background-image: url('SettingsGame/HealthPic.png');
	background-size: 100% 100%;
}





#GameModeHeader{
	text-align: center;
	font-size: 5vw;
	text-shadow: 0.3vw 0vw yellow, 0vw 0.3vw yellow, -0.3vw 0vw yellow, 0vw -0.3vw yellow;
	font-family: 'Bowlby One SC', cursive;
}

#ArenaMod{
	font-family: 'Big Shoulders Text', cursive;
	font-size: 4vw;
	margin-left: 15vw;
	background-color: green;
	cursor: pointer;
	border-radius: 10%;
	box-shadow: 0.22vw 0vw 1vw lightblue, 0vw 0.22vw 1vw lightblue, -0.22vw 0vw 1vw lightblue, 0vw -0.22vw 1vw lightblue;
}

#SurvivalMod{
	font-family: 'Big Shoulders Text', cursive;
	font-size: 4vw;
	margin-left: 35vw;
	background-color: red;
	cursor: pointer;
	border-radius: 10%;
	box-shadow: 0.22vw 0vw 1vw lightblue, 0vw 0.22vw 1vw lightblue, -0.22vw 0vw 1vw lightblue, 0vw -0.22vw 1vw lightblue;
}

#WeaponsContainer{
	width: 40%;
	height: 10vw;
	overflow-y: hidden;
	background-color: gray;
	margin-left: 26vw;
	display: none;

}

#WeaponsLogo{
	width: 15vw;
	height: 10vw;
	background-image: url('SettingsGame/Plus.png');
	background-size: 100% 100%;
	display: inline-block;
	cursor: pointer;
}


#WeaponsText{
	font-family: 'Big Shoulders Text', cursive;
	display: inline-block;
	font-size: 6.2vw;
	position: relative;
	bottom: 3vw;
	margin-left: 2vw;
	letter-spacing: 0.1vw;
	text-shadow: 0.22vw 0vw 1vw lightblue, 0vw 0.22vw 1vw lightblue, -0.22vw 0vw 1vw lightblue, 0vw -0.22vw 1vw lightblue;
}

#Weapons1Container{
	display: inline-block;
	width: 46%;
	height: 25vw;
	background-color: transparent;
	margin-left: -16vw;
	margin-right: 12vw;
	border: 0.2vw solid lightblue;
	border-radius: 0.3vw;
	overflow-y: auto;
}

#Weapons2Container{
	display: inline-block;
	width: 46%;
	height: 25vw;
	background-color: transparent;
	border: 0.2vw solid lightblue;
	border-radius: 0.3vw;
	overflow-y: auto;
}

.ContainerInText{
	font-family: 'Big Shoulders Text', cursive;
	text-align: center;
	text-shadow: 0.22vw 0vw 1vw red, 0vw 0.22vw 1vw red, -0.22vw 0vw 1vw red, 0vw -0.22vw 1vw red;
	letter-spacing: 0.1vw;
	font-size: 5vw;
}


.tools{
	display: inline-block;
	font-size: 3vw;
	padding-top: 2vw;
	text-align: center;
	color: blue;
	text-shadow: 0.22vw 0vw 1vw white, 0vw 0.22vw 1vw white, -0.22vw 0vw 1vw white, 0vw -0.22vw 1vw white;
	word-wrap: break-word;
	width: 10vw;
	height: 10vw;
	background-size: 100% 100%;
	cursor: pointer;
	margin-left: 0.3vw;
	background-color: green;
	border: 0.3vw solid black;
	overflow-x: auto;
}

/*Stats and skills tree*/
#StatsSkillsContainer{
	width: 40%;
	height: 10vw;
	overflow-y: hidden;
	background-color: gray;
	margin-left: 26vw;
	display: none;
	margin-top: 1vw;

}

#StatsSkillsLogo{
	width: 15vw;
	height: 10vw;
	background-image: url('SettingsGame/Plus.png');
	background-size: 100% 100%;
	display: inline-block;
	cursor: pointer;
}

#StatsSkillsText{
	font-family: 'Big Shoulders Text', cursive;
	display: inline-block;
	font-size: 4.6vw;
	position: relative;
	bottom: 3vw;
	margin-left: 1vw;
	letter-spacing: 0.1vw;
	text-shadow: 0.22vw 0vw 1vw lightblue, 0vw 0.22vw 1vw lightblue, -0.22vw 0vw 1vw lightblue, 0vw -0.22vw 1vw lightblue;
}

#StatsSkillsContainer1{
	width: 60%;
    height: 30vw;
    margin-left: -23vw;
    display: inline-grid;
    grid-gap: 0.1vw;
    box-sizing: border-box;
    border: 0.2vw solid lightblue;
    border-radius: 0.3vw;
    overflow-y: auto;
    background-color: yellow;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#StatsSelectedImage1{
	background-color: red;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	grid-area: 1/1/4/4;
}

#StatsSkillsDefenseValue1{
	text-shadow: 0vw 0.2vw 0.3vw white, 0.2vw 0vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	font-size: 3vw;
	grid-area: 2/5/2/7;
}

#StatsSkillsAttackValue1{
	text-shadow: 0vw 0.2vw 0.3vw white, 0.2vw 0vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	font-size: 3vw;
	grid-area: 2/7/2/10;
}

#StatsSkillsHealthValue1{
	text-shadow: 0vw 0.2vw 0.3vw white, 0.2vw 0vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	font-size: 3vw;
	grid-area: 2/11/2/13;
}

/*InputsForStatsSkills*/
#StatsSkillsDefenseInput1{
	font-size: 3vw;
	grid-area:3/5/3/7;
}
#StatsSkillsAttackInput1{
	font-size: 3vw;
	grid-area:3/8/3/10;
}

#StatsSkillsHealthInput1{
	font-size: 3vw;
	grid-area:3/11/3/13;
}

#StatsSkillsWeapon1{
	grid-area: 4/1/5/4;
	background-color: blue;
	word-wrap: break-word;
	overflow-y: auto;
	font-size: 3vw;
}

#StatsSkillsWeaponPicture1{
	background-color: red;
	grid-area: 5/1/11/4;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#StatsSkillsDamageValue1{
	grid-area: 11/1/13/4;
	font-size: 3vw;
	background-color: blue;
	box-sizing: border-box;
}



/*StatsSkillsContainer2*/
#StatsSkillsContainer2{
	width: 60%;
    height: 30vw;
    margin-left: 5vw;
    display: inline-grid;
    grid-gap: 0.1vw;
    box-sizing: border-box;
    border: 0.2vw solid lightblue;
    border-radius: 0.3vw;
    overflow-y: auto;
    background-color: yellow;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#StatsSelectedImage2{
	background-color: red;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	grid-area: 1/1/4/4;
}

#StatsSkillsDefenseValue2{
	text-shadow: 0vw 0.2vw 0.3vw white, 0.2vw 0vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	font-size: 3vw;
	grid-area: 2/5/2/7;
}

#StatsSkillsAttackValue2{
	text-shadow: 0vw 0.2vw 0.3vw white, 0.2vw 0vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	font-size: 3vw;
	grid-area: 2/7/2/10;
}

#StatsSkillsHealthValue2{
	text-shadow: 0vw 0.2vw 0.3vw white, 0.2vw 0vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	font-size: 3vw;
	grid-area: 2/11/2/13;
}

/*Inputs for these*/
#StatsSkillsDefenseInput2{
	font-size: 3vw;
	grid-area:3/5/3/7;
}

#StatsSkillsAttackInput2{
	font-size: 3vw;
	grid-area:3/8/3/10;
}

#StatsSkillsHealthInput2{
	font-size: 3vw;
	grid-area:3/11/3/13;
}

#StatsSkillsWeapon2{
	grid-area: 4/1/5/4;
	background-color: blue;
	word-wrap: break-word;
	overflow-y: auto;
	font-size: 3vw;
}

#StatsSkillsWeaponPicture2{
	background-color: red;
	grid-area: 5/1/11/4;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#StatsSkillsDamageValue2{
	grid-area: 11/1/13/4;
	font-size: 3vw;
	background-color: blue;
	box-sizing: border-box;
}



/*classes for StatsSkills below*/
.StatsSkillsDefenseLogo{
	background-image: url('SettingsGame/DefensePic.png');
	background-size: 90% 90%;
	background-position: 90% 15%;
	background-repeat:no-repeat;
	grid-area: 1/4/1/5;
}

.StatsSkillsDefense{
	text-shadow: 0vw 0.2vw 0.3vw white, 0.2vw 0vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	font-size: 4vw;
	grid-area: 1/5/1/7;
}

.StatsSkillsAttackLogo{
	background-image: url('SettingsGame/DamagePic.png');
	background-size: 80% 80%;
	background-repeat:no-repeat;
	background-position: 100% 15%;
	grid-area: 1/7/1/8;
}

.StatsSkillsAttack{
	text-shadow: 0vw 0.2vw 0.3vw white, 0.2vw 0vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	font-size: 4vw;
	grid-area: 1/8/1/10;
}

.StatsSkillsHealthLogo{
	background-image: url('SettingsGame/HealthPic.png');
	background-size: 80% 80%;
	background-repeat:no-repeat;
	background-position: 110% 30%;
	grid-area: 1/10/1/11;
}
.StatsSkillsHealth{
	text-shadow: 0vw 0.2vw 0.3vw white, 0.2vw 0vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	font-size: 4vw;
	grid-area: 1/11/1/13;
}


.StatsSkillsSkillsText{
	text-shadow: 0vw 0.2vw 0.3vw white, 0.2vw 0vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	font-size: 4vw;
	grid-area: 4/7/5/10;
	background-color: green;
	border: 0.2vw solid brown;
	text-align: center;
}
.StatsSkillsGymnastics{
	font-size: 2.9vw;
	grid-area: 7/4/9/9;
	background-color: green;
	border: 0.2vw solid brown;
	box-sizing: border-box;
	cursor: pointer;
}

.StatsSkillsAcrobatics{
	font-size: 2.9vw;
	grid-area: 7/9/9/13;
	background-color: green;
	border: 0.2vw solid brown;
	cursor: pointer;
}

.StatsSkillsWeaponMaster{
	font-size: 2.8vw;
	grid-area: 9/4/11/9;
	background-color: green;
	border: 0.2vw solid brown;
	cursor: pointer;
}

.StatsSkillsSwiftness{
	font-size: 2.9vw;
	grid-area: 9/9/11/13;
	background-color: green;
	border: 0.2vw solid brown;
	cursor: pointer;
}

.StatsSkillsLuck{
	font-size: 2.9vw;
	grid-area: 11/4/13/6;
	background-color: green;
	border: 0.2vw solid brown;
	cursor: pointer;
}

.StatsSkillsPower{
	font-size: 2.9vw;
	grid-area: 11/6/13/9;
	background-color: green;
	border: 0.2vw solid brown;
	cursor: pointer;
}

.StatsSkillsStoneSkin{
	font-size: 2.9vw;
	grid-area: 11/9/13/13;
	background-color: green;
	border: 0.2vw solid brown;
	cursor: pointer;
}
/*classes for statsSkills above*/

#SkillsInformationLogo{
	display: none;
	width: 10vw;
	height: 10vw;
	background-image: url('SettingsGame/Information.png');
	background-repeat: no-repeat;
	background-size: 10vw 10vw;
	cursor: pointer;
}

#SkillsInformation{
	font-family: 'Dancing Script', cursive;
	font-size: 4vw;
	width: 50vw;
	height: 25vw;
	overflow-y: auto;
	border: 0.25vw solid lightblue;
	border-radius: 1vw;
	word-wrap: break-word;
	text-shadow: 0.2vw 0vw 0.3vw white, 0vw 0.2vw 0.3vw white, -0.2vw 0vw 0.3vw white, 0vw -0.2vw 0.3vw white;
	display: none;
}


#LuckTextMore{
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	color: blue;
	cursor: pointer;
	text-shadow: 0.2vw 0vw 0.3vw yellow, 0vw 0.2vw 0.3vw yellow, -0.2vw 0vw 0.3vw yellow, 0vw -0.2vw 0.3vw yellow;
}


.EmptySpace{
	width: 100%;
	height: 15vw;
}

#ArenaMapSelection{
	height: auto;
	font-size: 4vw;
	margin-left: 25%;
	margin-bottom: 3vw;
	display: none;
}

#Arena{
	width: 100%;
	min-height: 80vw;
	background-image: url('SettingsGame/ArenaBG/Arena.jpg');
	background-size: 100% 80vw;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}

#FightActivate{
	font-size: 4vw;
	background-color: red;
	color: white;
	margin-left: 40vw;
}

#FirstFighter{
	width: 12vw;
	height: 12vw;
	display: inline-block;
	background-size: 12vw 12vw;
	background-repeat: no-repeat;
	margin-left: 5vw;
}

#SecondFighter{
	width: 12vw;
	height: 12vw;
	display: inline-block;
	margin-left: 20vw;
	background-size: 12vw 12vw;
	background-repeat: no-repeat;
}

#BattleDiv{
	background-image: url('SettingsGame/Fight.gif');
	background-size: 100% 100%;
	background-color: red;
	background-repeat: no-repeat;
	visibility: hidden;
	width: 25vw;
	height: 20vw;
	border-radius: 50%;
	margin-left: 20vw;
	position: relative;
	overflow-y: hidden;
	display: inline-block;
}

#BattleParagraph{
	display: none;
	font-size: 4vw;
	word-wrap: break-word;
}

#NewBattleButton{
	font-size: 4vw;
	display: none;
	background-color: red;
}

/*Survival Components Below!*/
#Survival{
	width: 100%;
	min-height: 80vw;
	background-image: url('SettingsGame/SurvivalMaps/DesertVillage.jpg');
	background-size: 100% 80vw;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}

#SurvivalRegion{
	font-size: 6vw;
	font-family: 'Big Shoulders Text', cursive;
	text-shadow: 0.25vw 0vw 0.5vw white, 0vw 0.25vw 0.5vw white, 0vw -0.25vw 0.5vw white, -0.25vw 0vw 0.5vw white;
	color: red;
	text-align: center;
}

#SurvivalMapName{
	font-size: 5vw;
	font-family: 'Big Shoulders Text', cursive;
	text-shadow: 0.25vw 0vw 0.5vw white, 0vw 0.25vw 0.5vw white, 0vw -0.25vw 0.5vw white, -0.25vw 0vw 0.5vw white;
	color: red;
}

#AttackSurvial{
	font-size: 4vw;
	background-color: red;
	color: white;
	margin-left: 40vw;
}

#SurvivalOpponentInfo{
	width: 25vw;
	height: 25vw;
	overflow-y: auto;
	font-size: 6vw;
	display: inline-block;
	font-family: 'Big Shoulders Text', cursive;
	text-shadow: 0.25vw 0vw 0.5vw white, 0vw 0.25vw 0.5vw white, 0vw -0.25vw 0.5vw white, -0.25vw 0vw 0.5vw white;
	margin-left: 70vw;
	color: red;
}

#SurvivalFighter{
	width: 12vw;
	height: 12vw;
	display: inline-block;
	margin-left: 5vw;
	background-size: 12vw 12vw;
	background-repeat: no-repeat;
}


#SurvivalBattle{
	background-image: url('SettingsGame/Fight.gif');
	background-size: 100% 100%;
	background-color: red;
	background-repeat: no-repeat;
	visibility: hidden;
	width: 25vw;
	height: 20vw;
	border-radius: 50%;
	margin-left: 20vw;
	position: relative;
	overflow-y: hidden;
	display: inline-block;
}

#SurvivalParagraph{
	display: none;
	font-size: 4vw;
	word-wrap: break-word;
}

#SurvivalNextButton{
	font-size: 4vw;
	display: none;
	background-color: red;
}

#SurvivalFinishButton{
	font-size: 4vw;
	display: none;
	background-color: red;
}

#SurvivalEnemy{
	width: 12vw;
	height: 12vw;
	display: inline-block;
	background-size: 12vw 12vw;
	background-repeat: no-repeat;
	margin-left: 20vw;
}






